<div class="main-content" >
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="header">
                      <h4 class="title" style="margin-left: 50px">Perfil</h4>
                  </div>
                  <div class="content">
                      <form>
                          <div class="row">
                              <div class="col-md-5" style="margin-left: 20px">
                                  <div class="form-group">
                                      <label style="margin-left: 10px" >Company </label>
                                      <input  style="margin-left: 10px"type="text" class="form-control" disabled placeholder="Company" value="HADAR  CONSULTING">
                                  </div>
                              </div>
                              <div class="col-md-5"  style="margin-left: 20px">
                                  <div class="form-group">
                                      <label style="margin-left: 10px">Nombre:</label>
                                      <input  style="margin-left: 10px"type="text" class="form-control" disabled placeholder="Username" value="admin">
                                  </div> 
                              </div>
                              
                          </div>

                          <div class="row">
                              
                              <div class="col-md-5"  style="margin-left: 20px">
                                  <div class="form-group">
                                      <label style="margin-left: 10px">Apellido:</label>
                                      <input  style="margin-left: 10px" type="text" class="form-control" disabled placeholder="apellido" value="admin">
                                  </div>
                              </div>
                              <div class="col-md-5"  style="margin-left: 20px">
                                <div class="form-group">
                                    <label style="margin-left: 10px">Fecha:</label>
                                    <input  style="margin-left: 10px" type="date" class="form-control" disabled placeholder="aaaa/mm/dd" value="admin">
                                </div>
                            </div>

                          </div>
                          

                          <div class="row">
                         
                          </div>

                      

                      
                       
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-user">
                  <div class="image">
                      <img src="https://cdn.pixabay.com/photo/2016/10/14/15/45/icon-1740415_960_720.png" width="200px" height="200px" style="margin-left: 60px" /> <br>
                  </div>
              
          </div>
      </div>
  </div>
</div>
