
 <!-- multistep form -->
<form id="msform" style="margin-bottom: 30px; margin-top: 120px;">
	<!-- progressbar -->
	<ul id="progressbar">
	  <li style="margin-left: 135px;" class="active">Ingresa a C-Wash</li>
	</ul>
	<!-- fieldsets -->
	<fieldset>
	  <h2 class="fs-title">Iniciar Sesión</h2>
	  <h3 class="fs-subtitle"></h3>
	  <input type="text" name="email" placeholder="Correo" />
	  <input type="password" name="pass" placeholder="Contraseña" />
	  <input type="password" name="cpass" placeholder="Confirma Contraseña" />
	  <input type="button" name="next" class="submit action-button" value="Iniciar Sesión" />
	</fieldset>
  </form>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 <!-- <div >
			<div class="container-login100">
				<div class="wrap-login100">
					<div class="login100-form-title" style="background-color: steelblue ;">
						<span class="login100-form-title-1">
							Sign In
						</span>
					</div>
	
					<form class="login100-form validate-form">
						<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
							<span class="label-input100">Username</span>
							<input class="input100" type="text" name="username" placeholder="Enter username"[(ngModel)]="usuario">
							<span class="focus-input100"></span>
						</div>
	
						<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
							<span class="label-input100">Password</span>
							<input class="input100" type="password" name="pass" placeholder="Enter password"[(ngModel)]="contrasenia">
							<span class="focus-input100"></span>
						</div>
	
					
						<div class="container-login100-form-btn">
							<button class="login100-form-btn" (click)="loginUser()">
								Login
							</button>
						</div>
					</form>
				</div>
			</div>
</div>
		 -->
