<div class="card text-center border-warning mb-3" style="margin: 10px">
  <div class="card-header">
     Diagrama de barras
  </div>
  <div class="card-body">
  
  </div>

</div>
<div class="card text-center border-success mb-3" style="margin: 10px">
  <div class="card-header">
   Diagrama  circular
  </div>
  <div class="card-body">
   
  </div>
  
</div>
<div class="card text-center border-info mb-3" style="margin: 10px">
  <div class="card-header">
    Diagrama lineal
  </div>
  <div class="card-body">
    
  </div>
  
</div>